<article>
  <header class="page-header"><h1 class="topic-title"><a href="/">CellML API</a>
                              </h1></header>
  <div id="main">
    <h1 class="page-title article-title">$description$</h1>
    <div>
    $body$
    </div>
  </div>
  <div id="sidebar">
    <div class="widget">
      <h6 class="widget-title">CellML API</h6>
        <ul class="peernav">
          <li><a href="/doc-chooser-nojs.html" class="doclink">Documentation</a></li>
          <li><a href="/download.html">Downloads</a></li>
          <li><a href="/applications.html">Applications</a></li>
          <li><a href="/support.html">Support</a></li>
        </ul>
    </div>
  </div>
</article>
