<h1>Snapshot builds and the latest source</h1>
<p>There are several different ways to get the API. Snapshot builds are produced automatically once a day on days when the CellML API was changed, but only if the automated tests of the API pass. These builds refer to themselves as version $nextplanned$, which is the version we are currently working towards. While they may not have been tested as much as a release, they have passed automated tests, have all the latest improvements to the API, and so are the best option for most developers building on the API.</p>

<p>You can <a href="http://sourceforge.net/projects/cellml-api/files/CellML-API-Nightly/$nextplanned$/">find the latest snapshots here</a>. You might also be interested in browsing or obtaining the <a href="https://github.com/cellmlapi/cellml-api">very latest API source code</a>.</p>

<h1>Stable releases and release candidates</h1>
<p>We aim to make regular releases of the CellML API; you can find these releases below. We always make at least one release candidate before making a release, to see if anyone identifies critical problems before we make the release; release candidates <a href="#releasecandidatelist-title">are listed further below</a>.</p>

$body$
